@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Suisse Intl";
  src: url("../../public/fonts/Suisse Intl Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #0e0e0e;
  padding: 0px 100px;
}

/* Texts */

.inter-black-18-500 {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}
.inter-black-20-500 {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.8px;
}
.inter-white-20-400 {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
.inter-white-20-500 {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}
.text-white-32-500 {
  color: #fff;
  font-family: "Suisse Intl";
  font-size: 32.516px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 42.271px */
  letter-spacing: -0.975px;
}
.suisse-white-48-500 {
  color: #fff;
  font-family: "Suisse Intl";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  letter-spacing: -2.4px;
}

/* Buttons */
.white-black-button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid #000;
  background: linear-gradient(264deg, #fff -0.71%, #d0d0d0 95.01%);
}
.navigation-button-active {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;

  border-radius: 13px;
  border: 1px solid #000;
  background: linear-gradient(264deg, #fff -0.71%, #d0d0d0 95.01%);
}
.navigation-button-inactive {
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 10px;

  border-radius: 13px;
  border: 1px solid #282828;
  background: radial-gradient(
    433.32% 135.87% at 96% 3.85%,
    rgba(17, 17, 17, 0.4) 16.23%,
    rgba(20, 20, 20, 0.4) 100%
  );
}

/* Containers */
.tab-navigation-bar {
  display: flex;
  padding: 5px;
  align-items: flex-start;
  gap: 5px;
  border-radius: 19px;
  border: 1px solid #444;
  background: radial-gradient(
    433.32% 135.87% at 96% 3.85%,
    #242424 16.23%,
    #1c1c1c 100%
  );
}
